<!DOCTYPE html>
<html lang="es">

	{% include head.html %}

	<body>
		<a class="skip-link" href="#contenido-principal">Saltar al contenido</a>
		<div class="masthead">
			<div class="container">
				<div class="row">
					<div class="header-content col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
						<div class="header-logos">
							<a class="home-link" href="{{ site.baseurl }}/" title="Inicio"><img class="bil-logo" src="{{ site.baseurl }}/img/bil-web-logo.png" alt="{{ site.title }}"></a>
							<img class="oxford-logo" src="{{ site.baseurl }}/img/oxford-web-logo.png" alt="Universidad Nacional de Colombia">
						</div>
						<nav role="navigation" class="header-nav" aria-label="Principal">
							<button type="button" class="nav-toggle" aria-expanded="false" aria-controls="navigation-menu">
								<span class="nav-toggle-bars" aria-hidden="true"></span>
								<span class="nav-toggle-label">Menú</span>
							</button>
							<ul id="navigation-menu" class="navigation-menu">
								{% assign pages_list = site.pages | sort:"menu-order" -%}
								{% for node in pages_list -%}
								{% if node.title != null -%}
								{% if node.layout == "page" -%}
								{% if node.menu-order != null -%}
								{% if forloop.rindex == 3 -%}<span class="no-wrap">{% endif %}<li><a class="header-nav-item{% if page.url contains node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>{% if forloop.last == true -%}</span>{% endif %}
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<main id="contenido-principal">
		{{ content }}
		</main>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
						<div class="kyma-footer-grid">
							<section>
								<h6>Kyma</h6>
								<p>Grupo de investigación en sensores, control e inteligencia artificial. {{ site.affiliation }}.</p>
							</section>
							<section>
								<h6>Explorar</h6>
								<ul>
									<li><a href="{{ site.baseurl }}/projects">Proyectos</a></li>
									<li><a href="{{ site.baseurl }}/personas">Equipo</a></li>
									<!-- <li><a href="{{ site.baseurl }}/publicaciones">Publicaciones</a></li> -->
									<li><a href="{{ site.baseurl }}/services">Desarrollos</a></li>
								</ul>
							</section>
							<section>
								<h6>Contacto</h6>
								<ul>
									<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
									<li><a href="{{ site.github }}">GitHub</a></li>
									<li><a href="{{ site.baseurl }}/contact">Laboratorio de Mecatrónica</a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="col-xs-12 sponsors">
						{% assign sponsors = site.data.sponsors -%}
							{% for sponsor in sponsors %}
								{% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}<img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}" title="{{ sponsor.name }}">{% if sponsor.url %}</a>{% endif %}
							{% endfor %}
					</div>
					<div class="col-xs-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
						<p class="copyright">&copy; Kyma · Universidad Nacional de Colombia {{ 'now' | date: "%Y" }}</p>
					</div>
					<div class="col-xs-12 col-md-5 col-lg-4">
						<p class="site-credit">Grupo de investigación Kyma UN</p>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/howey.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/kyma.js?v={{ site.version }}" charset="utf-8"></script>
	</body>
</html>
